# LIST

In [1]:
#List & Its Functions

In [2]:
lst = ["Kritika",1,2,3,[1,2,3]]

In [3]:
lst

['Kritika', 1, 2, 3, [1, 2, 3]]

In [4]:
lst.append("Data Science")

In [5]:
lst

['Kritika', 1, 2, 3, [1, 2, 3], 'Data Science']

In [6]:
lst [4][1]

2

In [7]:
lst.count("Data Science")

1

In [8]:
lst.index("Kritika")

0

In [9]:
lst.insert(2,"IPS")

In [10]:
lst

['Kritika', 1, 'IPS', 2, 3, [1, 2, 3], 'Data Science']

In [11]:
lst.remove("IPS")

In [12]:
lst

['Kritika', 1, 2, 3, [1, 2, 3], 'Data Science']

In [13]:
lst.reverse()

In [14]:
lst

['Data Science', [1, 2, 3], 3, 2, 1, 'Kritika']

In [15]:
lst.pop()

'Kritika'

In [16]:
lst

['Data Science', [1, 2, 3], 3, 2, 1]

In [17]:
lst.pop(-2)

2

In [18]:
lst

['Data Science', [1, 2, 3], 3, 1]

In [19]:
lstb = ["Kritika",2000]

In [20]:
lstb

['Kritika', 2000]

In [21]:
lst

['Data Science', [1, 2, 3], 3, 1]

In [22]:
lst.extend(lstb)

In [23]:
lst

['Data Science', [1, 2, 3], 3, 1, 'Kritika', 2000]

# DICTIONARIES

In [24]:
#Dictionary & It's Default Functions

In [25]:
dict = {"Name": "Kritika", "Age": 20, "Last Name": "Upadhyay"}

In [26]:
dict

{'Name': 'Kritika', 'Age': 20, 'Last Name': 'Upadhyay'}

In [28]:
dict.values()

dict_values(['Kritika', 20, 'Upadhyay'])

In [29]:
dict.keys()

dict_keys(['Name', 'Age', 'Last Name'])

In [30]:
dict.clear()

In [31]:
dict

{}

In [32]:
dict = {"Name": "Kritika Upadhyay", "Age": 20}

In [33]:
dict

{'Name': 'Kritika Upadhyay', 'Age': 20}

In [34]:
dict.copy()

{'Name': 'Kritika Upadhyay', 'Age': 20}

In [35]:
dict2 = dict.copy()

In [36]:
dict2

{'Name': 'Kritika Upadhyay', 'Age': 20}

In [37]:
dict.get("Name")

'Kritika Upadhyay'

In [38]:
dict.items()

dict_items([('Name', 'Kritika Upadhyay'), ('Age', 20)])

In [40]:
dict.pop("Age")

20

In [41]:
dict

{'Name': 'Kritika Upadhyay'}

In [43]:
dict2

{'Name': 'Kritika Upadhyay', 'Age': 20}

In [44]:
dict ["School"] = "IPS"

In [45]:
dict

{'Name': 'Kritika Upadhyay', 'School': 'IPS'}

# SETS

In [46]:
#Sets & It's Function

In [47]:
st = {"Kritika",1,2,2,3,4,5,3,4,}

In [48]:
st

{1, 2, 3, 4, 5, 'Kritika'}

In [49]:
st1 = {"Kritika",8}

In [50]:
st1.issubset(st)

False

In [51]:
st.add("January")

In [52]:
st

{1, 2, 3, 4, 5, 'January', 'Kritika'}

In [53]:
st1.intersection(st)

{'Kritika'}

In [54]:
st1.difference(st)

{8}

In [55]:
st.difference(st1)

{1, 2, 3, 4, 5, 'January'}

In [56]:
st.difference_update(st1)

In [57]:
st1

{8, 'Kritika'}

In [58]:
st

{1, 2, 3, 4, 5, 'January'}

# TUPLES

In [59]:
#Tuple & Its Function

In [60]:
tup = ("Kritika", "Upadhyay", "Science", "BTech")

In [61]:
tup

('Kritika', 'Upadhyay', 'Science', 'BTech')

In [62]:
tup.count("Kritika")

1

In [63]:
tup.index("Kritika")

0

# Strings

In [64]:
a = 10
b = 20
c = 30
d = 30.5

In [65]:
z = c + d

In [66]:
z

60.5

In [67]:
type(z)

float

In [68]:
x = a + b

In [69]:
x

30

In [70]:
type(x)

int

In [71]:
name = "Kritika Upadhyay"

In [72]:
name1 = "Harry Potter"

In [73]:
name

'Kritika Upadhyay'

In [74]:
name1

'Harry Potter'

In [75]:
name2 = name + " " + name1

In [76]:
name2

'Kritika Upadhyay Harry Potter'

In [77]:
type(name2)

str